@import "tailwindcss";

@theme {
  --color-primary: #e63946;
  --color-secondary: #f1faee;
  --color-accent: #1d3557;
  --color-dark: #121212;
  --color-light: #fafafa;

  --font-sans: 'Inter', sans-serif;
}

body {
  font-family: var(--font-sans);
  @apply bg-gray-50 text-gray-900;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-full;
}